




<div [ngStyle]="{'background-color':backgroundColor? 'green' : 'red' }">

  **** {{backgroundColor}} ***
</div>

<form [ngClass]="{'dark-background':  backgroundColor == true}" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>


     First Name: <input name="first" ngModel required #first="ngModel">
     <p style="color:red" *ngIf="first.valid == false">First name is mandatory!</p>
     <br/>
     Last Name: 
      <input name="last" ngModel><br/>
      <button>Submit</button>
</form>
    
    <p>First name value: {{ first.value | uppercase }}</p>
    <p>First name valid: {{ first.valid }}</p>
    <p>Form value: {{ f.value | json }}</p>
    <p>Form valid: {{ f.valid }}</p>


    <p>{{ dob | date: 'short'}}</p>
    <p>{{ dob | date: 'full'}}</p>

    <p>{{ dob | date: 'MM/dd/yyyy'}}</p>


    <button (click)="updateColor()">Update</button>